<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Personne par application</title>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
    <link rel="stylesheet" type="text/css" href="/css/tables_style.css" >   
    <style>
        button[id='p_a']{
            background: #ffe7e7;
            color: black;
            font-weight: bold;
        }

    </style>

</head>

<body>
<div id="head_box">
    <table id="menu">
        <tr>
            <td>
                <a href="/ServiceParMois" >
                    <button id="s_m">P&C<br>Service/Mois</button>
                </a>
            </td>
            <td>
                <a href="/ServiceParApk" >
                    <button id="s_a">P&C<br>Application/Service</button>
                </a>
            </td>
            <td>
                <a href="/PersonneParApk" >
                    <button id="p_a">P&C<br>Personne/Application</button>
                </a>
            </td>
            <td>
                <a href="/PersonneParMois" >
                    <button id="p_m">P&C<br>Personne/Mois</button>
                </a>
            </td>
            <td>
                <a href="/TMA" >
                    <button id="tma">TMA Personnes/Services</button>
                </a>
            </td>
            <td>
                <a href="/TMA2" >
                    <button id="tma2">TMA Applications/Services</button>
                </a>
            </td>
            <td>
                <a href="/global" >
                    <button id="global">Effort Distribution</button>
                </a>
            </td>


            <!--espace-->
            <td>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            </td>

            <td>
                <a href="/imputations" >
                    <button id="new_extract">Config Imputations</button>
                </a>
            </td>
            <td>
                <a href="/config" >
                    <button id="config">Config Commande</button>
                </a>
            </td>
        </tr>
    </table>
</div>

<p id="listPersonneParApkMois" hidden >{{listPersonneParApkMois}}</p>
<p id="ListApplication" hidden >{{ListApplication}}</p>
<p id="ListPersonne" hidden >{{ListPersonne}}</p>
<p id="commande_vendu_m1" hidden >{{commande_vendu_m1}}</p>
<p id="commande_vendu_m2" hidden >{{commande_vendu_m2}}</p>
<p id="commande_vendu_m9" hidden >{{commande_vendu_m9}}</p>
<p id="listAvenant" hidden >{{listAvenant}}</p>

<p id="error"></p>

<table style="width: 100%">
    <tr>
        <td><a href="/PersonneParApk">
            <button class="mode" > Mode "par mois"</button>
        </a></td>
        <td><a href="/PersonneParApkWeek">
            <button class="mode" style="background: rgba(172, 160, 255, 0.65);
            border-color: black; color: black"> Mode "par semaine"</button>
        </a></td>   </tr>
</table>

<table style="margin: 5px auto">
       <tr>
            <td>
                <form class="_filter" id="service_filter">
                    <div class="div_checklist">
                       <label for="uncheck_all_services">
                           <input id="uncheck_all_services" name="uncheck_all_services" onclick="reset_service_filter()"
                                  type="button" value="Uncheck All">
                       </label>

                        <label for="check_all_services">
                           <input id="check_all_services" name="check_all_services" onclick="checkAllServices()"
                                  type="button" value="Check All">
                       </label>
                        <label for="m1">
                            <input id="m1" name="m1" onchange="setFilter()"  checked
                                   type="checkbox" value="01" data-idx="1">M1
                        </label>

                        <label for="m2">
                            <input id="m2" name="m2" onchange="setFilter()"    checked
                                   type="checkbox" value="02" data-idx="2">M2
                        </label>

                        <label for="m9">
                            <input id="m9" name="m9" onchange="setFilter()"  checked
                                   type="checkbox" value="09" data-idx="9">M9
                        </label>
                    </div>
                </form>
            </td>
       </tr>
</table>
<table class="data_table" id="data_table" style="width: 100%;">
    <thead id="head_personne_par_apk" >   </thead>
    <tbody id="table_personne_par_apk">   </tbody>
</table>
<br>
<br>

<button id="hideButton" onclick="myFunction()"> Click to show/hide diagrams </button>

<br>
<div id="canvas_table">
    <!--table id="canvas"></table-->
    <canvas id= 'id' style= 'width:100%; max-width: 1000px; margin: 10px auto'> </canvas>
</div>

<script type="text/javascript" src="/js/script_o33_Week.js"></script>

<script>
    function myFunction() {
        var x = document.getElementById("canvas_table");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

</body>
</html>