<!DOCTYPE html>
<!--suppress JSDuplicatedDeclaration -->
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>TMA</title>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
    <link rel="stylesheet" type="text/css" href="/css/tables_style.css">
    <style>
        button[id='global']{
            background: #ffe7e7;
            color: black;
            font-weight: bold;
        }
    </style>

</head>
<body>
<div id="head_box">
    <table id="menu">
        <tr>
            <td>
                <a href="/ServiceParMois" >
                    <button id="s_m">P&C<br>Service/Mois</button>
                </a>
            </td>
            <td>
                <a href="/ServiceParApk" >
                    <button id="s_a">P&C<br>Application/Service</button>
                </a>
            </td>
            <td>
                <a href="/PersonneParApk" >
                    <button id="p_a">P&C<br>Personne/Application</button>
                </a>
            </td>
            <td>
                <a href="/PersonneParMois" >
                    <button id="p_m">P&C<br>Personne/Mois</button>
                </a>
            </td>
            <td>
                <a href="/TMA" >
                    <button id="tma">TMA Personnes/Services</button>
                </a>
            </td>
            <td>
                <a href="/TMA2" >
                    <button id="tma2">TMA Applications/Services</button>
                </a>
            </td>
            <td>
                <a href="/global" >
                    <button id="global">Effort Distribution</button>
                </a>
            </td>


            <!--espace-->
            <td>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            </td>

            <td>
                <a href="/imputations" >
                    <button id="new_extract">Config Imputations</button>
                </a>
            </td>
            <td>
                <a href="/config" >
                    <button id="config">Config Commande</button>
                </a>
            </td>
        </tr>
    </table>
</div>

<table style="width: 100%">
    <tr>
        <td><a href="/global">
            <button class="mode" style="background: rgba(172, 160, 255, 0.65);
            border-color: black; color: black"> Mode "par mois"</button>
        </a></td>
        <td><a href="/globalWeek">
            <button class="mode" > Mode "par semaine"</button>
        </a></td>
    </tr>
</table>

<p id="listServiceParApkMois" hidden >{{listServiceParApkMois}}</p>
<p id="listIssues" hidden >{{listIssues}}</p>
<p id="listStation" hidden >{{listStation}}</p>
<p id="listTMA" hidden >{{listTMA}}</p>
<p id="listHorsProd" hidden>{{listHorsProd}}</p>

<p id="error"></p>

<table class="data_table" id="data_table" style=" margin: 10px auto; width: 95%">
    <thead id="thead_tma"></thead>
    <tbody id="tbody_tma"></tbody>
</table>
<br>
<br>

<script type="text/javascript" src="/js/script_o7_global.js"></script>

</body>
</html>